<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"  
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	 xmlns:context="http://www.springframework.org/schema/context"
	 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/data/jpa
	http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

	<bean
		class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config/jdbc-mysql-db.properties</value>
			</list>
		</property>
	</bean>


    <context:component-scan base-package="com.apti.coupons.persistance" />
    <context:component-scan base-package="com.apti.coupons.interfaces.dto" />

	<bean id="hibernateJpaVendorAdapter" 	class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>

	 <bean id="wheezyEntityManagerFactory"
			class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">

 		<property name="persistenceProvider">
            <bean class="org.hibernate.ejb.HibernatePersistence" />
        </property>
        
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>

		<property name="jpaVendorAdapter" ref="hibernateJpaVendorAdapter"/>		
		<property name="packagesToScan" value="com.ewheezy.yayatow.newsletter.model.**" />

		 <property name="jpaProperties">
			<props>
				<prop key="hibernate.dialect">${dataSource.hibernate.Dialect}</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.use_sql_comments">true</prop>
				<prop key="hibernate.hbm2ddl.auto">${dataSource.hibernate.hbm2ddl.auto} </prop> 
												
				<prop key="hibernate.validator.apply_to_ddl">false</prop>
				<prop key="hibernate.validator.autoregister_listeners">false</prop>
				<prop key="hibernate.ejb.naming_strategy">${dataSource.hibernate.ejb.naming_strategy}</prop>  
				
			</props>
		</property>

		
	</bean>

	<bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource">
		<property name="driverClassName" value="${dataSource.driverClassName}" />
		<property name="url" value="${dataSource.url}" />
		<property name="username" value="${dataSource.username}" />
		<property name="password" value="${dataSource.password}" />
		<property name="abandonWhenPercentageFull" value="60"></property>
		<property name="jmxEnabled" value="true"></property>
		<property name="logAbandoned" value="true"></property>
		<property name="maxActive" value="50"></property>
		<property name="maxIdle" value="10"></property>
		<property name="minIdle" value="5"></property>
		<property name="testOnBorrow" value="true"></property>
		<property name="validationQuery" value="SELECT 1"></property>
	</bean>
	
	

	 <bean id="wheezyTransactionManager"
		class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="wheezyEntityManagerFactory"/>
	</bean>
	
	<bean id="sharedEntityManager" class="org.springframework.orm.jpa.support.SharedEntityManagerBean">
        <property name = "entityManagerFactory" ref="wheezyEntityManagerFactory"/>
    </bean>
		
		
	<!-- Spring Data Jpa-->		
	<jpa:repositories base-package="com.ewheezy.blog.newsletter.repository"
	    repository-impl-postfix="Impl"
		transaction-manager-ref="wheezyTransactionManager"
		entity-manager-factory-ref="wheezyEntityManagerFactory"
		factory-class="com.ewheezy.blog.newsletter.repository.base.BaseRepositoryFactoryBean" />
	
	
	<tx:annotation-driven  />

	
	
	
</beans>