<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true"
                     xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="INFO" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss} %5p %c{1} - %m%n"/>
        </layout>
    </appender>
    <appender name="fileAppenderInfo" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="INFO" />
        <param name="MaxFileSize" value="20MB" />
        <param name="MaxBackupIndex" value="10" />
        <param name="append" value="false"/>
        <param name="file" value="logs/school_info.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
        </layout>
    </appender>
    <appender name="fileAppenderDebug" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="DEBUG" />
        <param name="MaxFileSize" value="20MB" />
        <param name="MaxBackupIndex" value="10" />
        <param name="append" value="false"/>
        <param name="file" value="logs/school_debug.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
        </layout>
    </appender>
    <appender name="fileAppenderTrace" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="TRACE" />
        <param name="MaxFileSize" value="20MB" />
        <param name="MaxBackupIndex" value="10" />
        <param name="append" value="false"/>
        <param name="file" value="logs/school_trace.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
        </layout>
    </appender>
    <appender name="fileAppenderError" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="ERROR" />
        <param name="MaxFileSize" value="20MB" />
        <param name="MaxBackupIndex" value="10" />
        <param name="append" value="false"/>
        <param name="file" value="logs/school_error.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
        </layout>
    </appender>

    <appender name="fileAppenderWarn" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="WARN" />
        <param name="MaxFileSize" value="20MB" />
        <param name="MaxBackupIndex" value="10" />
        <param name="append" value="false"/>
        <param name="file" value="logs/school_warn.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
        </layout>
    </appender>

    <root>
        <!--<level value="INFO"/>-->
        <!--<appender-ref ref="consoleAppender"/>-->
        <appender-ref ref="fileAppenderDebug"/>
        <appender-ref ref="fileAppenderError"/>
        <appender-ref ref="fileAppenderInfo"/>
        <appender-ref ref="fileAppenderTrace"/>
        <appender-ref ref="fileAppenderWarn"/>
    </root>
</log4j:configuration>